<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{ var myMessage = "Hello World!"; }
    <p>The value of myMessage is : @myMessage</p>

    @{
        var greeting = "Welcome to our site";
        var weekDay = DateTime.Now.DayOfWeek;
        var greetingMessage = greeting + "Today is " + weekDay;
    }
    <p>The greeting is: @greetingMessage</p>
</body>
</html>